---
import IconEmail from "$/assets/email.svg";
import IconLocation from "$/assets/location.svg";
import IconPhone from "$/assets/phone.svg";
import Icon from "$/components/icon.astro";

import LogoText from "$/components/logo-text.astro";
import type { Footer } from "$/types/strapi.type";

type Props = Footer;

const { description, socials, columns, contact } = Astro.props;
---

<footer class:list={["relative", "py-10", "border-t border-gray-200 mt-25"]}>
  <div
    class:list={[
      "absolute bottom-full h-[1686px] w-full -z-10 pointer-events-none",
      "bg-[linear-gradient(180deg,#FFFFFF_40.38%,rgba(255,228,151,0.3)_100%)]",
    ]}
  >
  </div>

  <div class="container">
    <div class:list={["flex flex-col gap-8 order-0", "md:flex-row"]}>
      <div>
        <LogoText height={30} />
        <div class:list={["mt-6 text-gray-600"]}>
          {description}
        </div>
        <div class:list={["mt-8 flex gap-5.5 text-neutral-100"]}>
          {
            socials.map(({ logo, href }) => (
              <a href={href}>
                <Icon src={logo} class="size-6" />
              </a>
            ))
          }
        </div>
      </div>

      {
        columns.map(({ title, links }, idx) => (
          <div class:list={["flex flex-col gap-4 text-md", "md:min-w-38.5"]} style={`order: ${idx + 2};`}>
            <div class="font-bold text-lg">{title}</div>

            {links.map(({ href, label, disabled }) => (
              <a href={href} class:list={[disabled ? "text-gray-400" : "text-gray-700"]}>
                {label}
              </a>
            ))}
          </div>
        ))
      }

      <div class:list={["order-1", "md:order-5", "flex flex-col gap-4 text-md", "md:min-w-56.5"]}>
        <div class="font-bold text-lg">Contacts us</div>

        <div class:list={["flex gap-2"]}>
          <IconLocation class:list={["size-5 shrink-0"]} />
          <div class="flex flex-col gap-2">
            {
              contact.addresses.map((address) => (
                <div>
                  <span class="font-semibold">{address.city}:</span>
                  <span class="text-gray-700">{address.detail}</span>
                </div>
              ))
            }
          </div>
        </div>

        <div class:list={["flex gap-2"]}>
          <IconPhone class:list={["size-5 shrink-0"]} />
          <span class="text-gray-700">{contact.phone}</span>
        </div>

        <div class:list={["flex gap-2"]}>
          <IconEmail class:list={["size-5 shrink-0"]} />
          <span class="text-gray-700">{contact.email}</span>
        </div>
      </div>
    </div>

    <hr class="mt-12 mb-4 border-gray-200 md:mb-6" />

    <div class:list={["text-gray-600 flex flex-col gap-6", "md:flex-row-reverse md:justify-between"]}>
      <div class="max-w-114">
        Công ty Cổ phần Smartos - Giấy chứng nhận đăng ký doanh nghiệp công ty cổ phần số 0402150125 đăng ký lần đầu
        ngày 25/05/2022 tại Phòng đăng kí kinh doanh - Sở kế hoạch và đầu tư Thành phố Đà Nẵng.
      </div>

      <div>Smartos powered by Enosta - Smartos © 2025. All Rights Reserved</div>
    </div>
  </div>
</footer>
