---
import SvgCta from "$/assets/cta.svg";
import IconEmail from "$/assets/email.svg";
import IconPhone from "$/assets/phone.svg";
import Button from "$/components/button.astro";
import FoldCorner from "$/components/fold-corner.astro";

import { type Media, type Button as TypeButton } from "$/types/strapi.type";

type Props = {
  class?: string;
  title?: string;
  description?: string;
  buttons?: TypeButton[];
  visual?: Media;
  phone?: string;
  email?: string;
};

const { title, description, buttons, visual, phone, email } = Astro.props;
---

<section data-aos="fade-up" class:list={["container", Astro.props.class]}>
  <FoldCorner
    class:list={[
      "relative",
      "bg-conic-primary",
      "px-5 py-8",
      "flex flex-col gap-12",
      "md:flex-row md:items-center md:px-25",
    ]}
  >
    <div class="md:grow">
      <div class="font-bold text-2xl">{title}</div>
      <div class="text-lg mt-4">{description}</div>
      <div class:list={["flex gap-2 justify-center mt-6", "md:justify-start md:mt-10"]}>
        {buttons?.map((button) => <Button label={button.label} variant={button.variant} class:list={["min-w-40"]} />)}
      </div>
    </div>

    <div class:list={["flex flex-col gap-10"]}>
      <SvgCta class:list={["aspect-369/226"]} />

      <div class:list={["flex flex-col gap-3", "md:flex-row md:items-center"]}>
        <div class="flex gap-2">
          <IconPhone class="size-5" />
          <div class="font-medium">{phone}</div>
        </div>

        <div class:list={["hidden", "md:block md:h-3 md:w-px md:bg-gray-900"]}></div>

        <div class="flex gap-2">
          <IconEmail class="size-5" />
          <div class="font-medium">{email}</div>
        </div>
      </div>
    </div>
  </FoldCorner>
</section>
