---
import iconExport from "$/assets/export.svg?raw";
import Button from "$/components/button.astro";
import type { Media, Button as TypeButton } from "$/types/strapi.type";

type Props = {
  class?: string;
  items: Array<{
    title: string;
    description: string;
    image: Media;
    buttons: TypeButton[];
  }>;
};

const { items } = Astro.props;
---

<section class:list={["container", Astro.props.class]}>
  <div class:list={["grid gap-4", "md:grid md:grid-cols-6"]}>
    {
      items?.map(({ title, description, image, buttons }, idx) => (
        <div
          data-aos="fade-down"
          class:list={[
            "border-linear",
            "relative",
            "bg-gray-100 rounded-2xl p-6",
            idx < 2 ? "md:col-span-3" : "md:col-span-2",
          ]}
        >
          <div class="flex items-center justify-center aspect-video bg-linear-to-t from-primary/30 to-gray-100/20 rounded-2xl">
            <img src={image?.url} class="size-full" />,
          </div>

          <div class="mt-4 text-lg font-bold">{title}</div>

          <div class="mt-2 text-gray-700 h-15">{description}</div>

          <div class="flex gap-2 mt-6">
            {buttons.map(({ label, href, variant, icon }) => (
              <Button href={href} variant={variant} label={label} icon={icon} />
            ))}
          </div>
        </div>
      ))
    }
  </div>
</section>
