---
import Icon from "$/components/icon.astro";
import type { HeaderMenuItemLevel2 } from "$/types/strapi.type";

type Props = HeaderMenuItemLevel2;

const { id, title, href, icon, description, hasChild } = Astro.props;
---

{
  hasChild && (
    <li class="collapse">
      <input
        type="checkbox"
        class:list={["p-0", "[&:checked~.collapse-title]:border-l-4 [&:checked~.collapse-title]:pl-2"]}
      />

      <div class:list={["collapse-title", "p-0 flex gap-2", "border-l-0 border-primary transition-all"]}>
        {icon && <Icon src={icon} className="size-6 shrink-0" />}

        <div>
          <span class="font-semibold">{title}</span>
          <div class="text-gray-600 mt-2">{description}</div>
        </div>
      </div>

      <div class="collapse-content p-0 mt-1">hehe content</div>
    </li>
  )
}

{
  !hasChild && (
    <li class="my-3">
      <a href={href} class="h-10 font-medium flex gap-2 items-center">
        {icon && <Icon src={icon} className="size-6 shrink-0" />}
        <span>{title}</span>
      </a>
    </li>
  )
}
