---
import MenuItemLevel2 from "$/components/header/menu-item-level-2.astro";
import ArrowDown from "$/components/icons/arrow-down.astro";
import type { HeaderMenuItemLevel1 } from "$/types/strapi.type";

type Props = HeaderMenuItemLevel1;

const { id, title, hasChild, href, children } = Astro.props;

const inputId = `level-1--${id}`;
---

<Fragment>
  {
    children ? (
      <li>
        <input
          checked
          type="checkbox"
          id={inputId}
          class:list={["hidden", "[&:checked~div]:grid-rows-[minmax(0,1fr)]"]}
        />

        <label class:list={["flex gap-1.5 items-center"]} for={inputId}>
          <span class="grow typo-body-2">{title}</span>
          <span class:list={["icon", "text-gray-700 -rotate-180 transition-all"]}>
            <ArrowDown />
          </span>
        </label>

        <div class:list={["overflow-hidden grid grid-rows-[minmax(0,0fr)] transition-[grid-template-rows]"]}>
          <ul class="mt-3">
            {children.map((item) => (
              <MenuItemLevel2 {...item} />
            ))}
          </ul>
        </div>
      </li>
    ) : (
      <li>
        <a href={href}>{title}</a>
      </li>
    )
  }

  <hr class="my-3 border-neutral" />
</Fragment>

<style>
  @reference "$/styles/global.css";

  input:checked ~ label > span.icon {
    @apply rotate-0;
  }
</style>
