---
import "$/styles/global.css";
import "aos/dist/aos.css";

import { SEO } from "astro-seo";
import Footer from "$/components/footer/footer.astro";
import Header from "$/components/header/header.astro";
import type { SEO as TypeSEO } from "$/types/strapi.type";

type Props = {
  title?: string;
  seo?: TypeSEO;
};

const { title = "Smartos", seo } = Astro.props;
---

<!doctype html>
<html lang="vi" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
      rel="stylesheet"
    />

    <SEO
      title={seo?.metaTitle}
      description={seo?.metaDescription}
      canonical={seo?.canonicalURL}
      openGraph={{
        basic: {
          title: seo?.openGraph.ogTitle || seo?.metaTitle || "",
          type: seo?.openGraph.ogType || "website",
          image: seo?.metaImage.url || seo?.openGraph.ogImage.url || "",
          url: seo?.openGraph.ogUrl || seo?.canonicalURL,
        },
      }}
      extend={{
        meta: [
          { name: "keywords", content: seo?.keywords },
          { name: "robots", content: seo?.metaRobots },
          { name: "viewport", content: seo?.metaViewport },
          // { name: "twitter:card", content: "summary_large_image" },
          // { name: "twitter:image", content: seo.metaImage.url },
        ],
      }}
    />

    <title>{title}</title>
  </head>

  <body>
    <Header />
    <slot />
    <Footer />

    <script>
      import AOS from "aos";
      AOS.init({ once: false });
    </script>
  </body>
</html>
